RewriteEngine On

# Remove /public from path
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

# Remove .php from path
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
